.header {
    background-color: rgb(15, 15, 15);
    position: fixed;
    height: 48px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 100;
}

.header-button {
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    transition: 0.5s;
}

.header-button:hover {
    cursor: pointer;
    color: blue;
    font-size: 32px;
}

.header-active-button {
    color: blue;
}